:host{
    height: 100%;
    display: flex;
}

#appName{
    color: white;
	font-size: 3vw;
	text-align: center;
}

/* Header */
nz-header{
    height: auto;
}

nz-header i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;    
}
/* Header */

/* Sider */
nz-sider{
    color: white;
}

nz-divider{
    color: white;
}

nz-sider[nz-menu-item]{
    cursor: pointer;
}
/* Sider */

/* Footer */
nz-footer {
	background: #001529;
	color: white;
}
/* Footer */
