<nz-layout>
  <!-- Header -->
  <nz-header nz-row>              
    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed" nz-col nzXs=6 nzMd=1></i>
    <p id=appName nz-col nzXs=18 nzMd=23>Rastreador de autobuses</p>
  </nz-header>
  <nz-layout>
    <!-- Sidebar -->
    <nz-sider 
    nzCollapsible 
    [(nzCollapsed)]="isCollapsed" 
    [nzTrigger]="null"
    [nzCollapsedWidth]=0
    [nzWidth]="150">
      <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>         
    </nz-sider>
    <!-- body -->
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <!-- Footer -->
  <nz-footer>&copy; {{year}} Todos los derechos reservados.</nz-footer>
</nz-layout>