<nz-layout>
  <!-- Header -->
  <nz-header nz-row>              
    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed" nz-col nzXs=6 nzMd=1></i>
    <p id=appName nz-col nzXs=18 nzMd=23>Rastreador de autobuses</p>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <ul nz-menu nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
          <li nz-menu-item [nzDisabled]=true>
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <span>Jean Carlos Holguín Berihuete</span>
          </li>
          <nz-divider></nz-divider>
          <li nz-menu-item nzTitle="Ayuda">
            <i nz-icon nzType="question-circle" nzTheme="outline"></i>
            <span>Ayuda</span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="logout" nzTheme="outline"></i>
            <span>Cerrar sesión</span>
          </li>
        </ul>
    </nz-sider>        
    <!-- body -->
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <!-- Footer -->
  <nz-footer>Footer</nz-footer>
</nz-layout>