
<nz-card nzTitle="Ubicación" headStyle="{background: #1890ff; color: white;}">
    <div nz-row nzJustify=center>
        <button nz-button nzType="primary" nzShape="round" nz-col nzXs=20 nzSm=20 nzMd=8 (click)="locationSending()" *ngIf="!sendingLocation" id=btnSendLocation><i nz-icon nzType="play-circle" nzTheme="outline"></i>Enviar ubicación</button>                
        <button nz-button nzType="primary" nzShape="round" nz-col nzXs=20 nzSm=20 nzMd=8 (click)="locationSending()" *ngIf="sendingLocation" nzDanger><i nz-icon nzType="stop" nzTheme="outline"></i>Detener ubicación</button>                
    </div>
</nz-card>

<!-- Modal -->
<app-login [isVisible]="loginModalVisible" (loginModalVisible)="changeLoginModalState($event)"></app-login>